.button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 14px 30px;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: var(--link-color);
  color: var(--dark-color);
  transition: background-color 0.5s ease;
}
